/*
 * User Input Parameters
 * The specified parameters and input files can be given to the pipeline via command line options
 */

params {
    // Required parameters
    target = "$PWD/target/"
    target_prefix = "$PWD/target/target"
    pheno_file = "$PWD/target/phenotype_file_t2.txt"  // Default phenotype file
    gwas_sumstat = "$PWD/target/GWAS_sumstat_t1.txt"  // Default GWAS summary statistics file

    // Optional parameters with default values
    geno = 0.02
    mind = 0.02
    maf = 0.05
    hwe_case = 1e-6
    hwe_ctrl = 1e-10
    pihat = 0.1875
    relatedness = 0.1875
    indep_window_size = 100
    indep_step_size = 5
    indep_threshold = 0.2
    pca = 10 

    // Help flag
    help = false
    
    // Workflow control flags
    run_plink = true            // Set to false if PLINK part should not be run
    run_prsice = true           // Set to false if PRSice-2 part should not be run
    run_pca = true              // To create .eigenvec file to be used as covariate file for further analysis
    run_LDpred2grid = true      // Set to false if LDPred2 Grid part should not be run
    run_LDpred2auto = true      // Set to false if LDPred2 Auto part should not be run
    run_Lassosum2 = true        // Set to false if Lassosum2 part should not be run
    run_prscsx = true           // Set to false if PRS-CSx part should not be run
    run_mussel = false          // Set to true if MUSSEL part should not be run

    // PRSice-2 parameters
    prsice_script = "$PWD/PRSice.R"
    prsice_executable = "$PWD/PRSice_mac"

    // LDpred2 parameters
    ldpred_grid_script = "$PWD/bin/LDpred2grid.R" 
    ldpred_auto_script = "$PWD/bin/LDpred2auto.R" 

    // Lassosum2
    lassosum2_script = "$PWD/bin/Lassosum2.R" 

    // PRScsx parameters
    prscsxref_dir = "$PWD/PRScsx/UKBB"                // Default reference directory (can be '$PWD/PRScsx/UKBB' or '$PWD/PRScsx/1KG')
    prscsx_gwas1 = "$PWD/target/EUR_GWAS_PRScsx.txt"  // First GWAS summary statistics file in the target folder
    prscsx_gwas2 = "$PWD/target/EAS_GWAS_PRScsx.txt"  // Second GWAS summary statistics file in the target folder
    n_gwas1 = '10000'                                 // Sample sizes for GWAS1
    n_gwas2 = '10000'                                 // Sample sizes for GWAS1
    pop1 = 'EUR'                                      // Population1 used in PRS-CSx
    pop2 = 'EAS'                                      // Population2 used in PRS-CSx
    phi = '1e-2'                                      // Tuning parameter for PRS-CSx
    chrom = '22'                                      // the chromosome on which model is fitted, can be separated by comma e.g., --chrom=1,3,5.
    meta = true                                       // Whether to run meta-analysis
    out_name = 'target_ukbb_meta'                     // Specify output prefix         

    // MUSSEL parameters
    pack = "$PWD/MUSSEL"
    data = "$PWD/MUSSEL/example"
    LDref = "$PWD/MUSSEL/LDref"
    sst = "$PWD/MUSSEL/example/summdata/EUR.txt,$PWD/MUSSEL/example/summdata/AFR.txt"
    pop = "EUR,AFR"
    mussel_chrom = "1-22"
    bfile_tuning = "$PWD/MUSSEL/example/sample_data/EUR/tuning_geno,$PWD/MUSSEL/example/sample_data/AFR/tuning_geno"
    pheno_tuning = "$PWD/example/sample_data/EUR/pheno.txt,$PWD/MUSSEL/example/sample_data/AFR/pheno.txt"
    covar_tuning = "$PWD/MUSSEL/example/sample_data/EUR/covar.txt,$PWD/MUSSEL/example/sample_data/AFR/covar.txt"
    bfile_testing = "$PWD/MUSSEL/example/sample_data/EUR/testing_geno,$PWD/MUSSEL/example/sample_data/AFR/testing_geno"
    pheno_testing = "$PWD/MUSSEL/example/sample_data/EUR/pheno.txt,$PWD/MUSSEL/example/sample_data/AFR/pheno.txt"
    covar_testing = "$PWD/MUSSEL/example/sample_data/EUR/covar.txt,$PWD/MUSSEL/example/sample_data/AFR/covar.txt"
    trait_type = "continuous"
    NCORES = 4
    plink = "/sw/bip_apps/plink2/2.0.0.alpha/bin/plink2"


    // Output directories
    outdir = "$PWD/outputs"
    graphs = "$PWD/QC_graphs"
}
